{% extends "base.html" %}

{% block content %}
    <h1>Games</h1>
    {% for game in object_list %}
        <section style="border: 1px solid #3498db; padding: 20px;">
            <h2>{{ game.name }}</h2><br>
            <p>{{ game.description }}</p><br>

            {% if game.article_set.all %}
                <p>Related articles:</p><br>
                <ul>
                    {% for article in game.article_set.all %}
                        <li>
                            <a href="{% url 'article_detail' article.slug %}">{{ article.title }}</a>
                        </li>
                    {% endfor %}
                </ul><br>
            {% endif %}
        </section><br>
    {% endfor %}
{% endblock %}