{% extends "base.html" %}

{% block content %}
    <h1>Market</h1>
    <div class="right-button">
        <a href="{% url 'add_offer' %}" class="btn btn-primary">Add new offer</a>
    </div>

    <form method="get" action="{% url 'market' %}">
    <p>Filter by:</p>
    <select name="game">
        <option value="">All Games</option>
        {% for game in games %}
            <option value="{{ game }}">{{ game }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Go">
    </form><br>

    {% for offer in object_list %}
        <section style="border: 1px solid #3498db; padding: 20px;">
        <h2>{{ offer.get_offer_type_display }} - {{ offer.game }}</h2>
        <p>Added: {{ offer.added|date:"F j, Y P" }}</p>
        <p>{{ offer.description }}</p>
        {% if offer.price is not None %}
            <p>Price: {{ offer.price }}</p>
        {% endif %}
        <div class="centered-button">
            <a href="{% url 'make_offer' offer.id %}" class="btn-primary">Make an offer</a>
        </div>
        </section><br>
    {% endfor %}
{% endblock %}