{% extends "base.html" %}

{% block content %}

    <h1>My notifications</h1>
    {% for notification in notifications %}
        <section style="border: 1px solid #3498db; padding: 15px;">
        {% if notification.status %}
            <p>{{ notification.description }}</p>
        {% else %}
            <p style="font-weight: bold">{{ notification.description }}</p>
        {% endif %}
        <form method="post" action="">
            {% csrf_token %}
            <input type="hidden" name="notification_id" value="{{ notification.id }}">
            <button type="submit" class="btn-primary">Delete</button>
        </form><br>
        </section><br>
    {% endfor %}
{% endblock %}