{% extends "base.html" %}

{% block content %}
    <section style="border: 1px; padding: 15px;">
        <a href="{% url 'password_change' user.id %}" class="btn-primary">Change Password</a><br>
    </section><br>
    <section style="border: 1px solid #3498db; padding: 15px;">
    <h1>My notifications</h1>
    {% for notification in notifications %}
        {% if notification.status %}
        <p>{{ notification.description }}</p>
        {% else %}
            <p style="font-weight: bold">{{ notification.description }}</p>
            <form method="post" action="">
                {% csrf_token %}
                <input type="hidden" name="notification_id" value="{{ notification.id }}">
                <button type="submit" class="btn-primary">Mark as read</button>
            </form>
        {% endif %}
    {% endfor %}
    </section><br>

    <section style="border: 1px solid #3498db; padding: 15px;">
    <h1>My active offers</h1>
    {% for offer in active_offers %}
        <section style="border: 1px solid #3498db; padding: 15px;">
            <h2>{{ offer.get_offer_type_display }} - {{ offer.game.name }}</h2>
            <p>Owner: {{ offer.owner }}</p>
            <p>Added: {{ offer.added }}</p>
            <p>{{ offer.description }}</p>
            {% if offer.price is not None %}
                <p>Price: {{ offer.price }}</p>
            {% endif %}
            <div class="centered-button">
                <a href="{% url 'offer_details' offer.id %}" class="btn-primary">Details</a>
            </div>
        </section><br>
    {% endfor %}
    </section><br>

    <section style="border: 1px solid #3498db; padding: 15px;">
    <h1>My closed offers</h1>
        {% for offer in inactive_offers %}
            <section style="border: 1px solid #3498db; padding: 15px;">
                <h2>{{ offer.get_offer_type_display }} - {{ offer.game.name }}</h2>
                <p>Owner: {{ offer.owner }}</p>
                <p>Added: {{ offer.added }}</p>
                <p>{{ offer.description }}</p>
                {% if offer.price is not None %}
                    <p>Price: {{ offer.price }}</p>
                {% endif %}
                <div class="centered-button">
                    <a href="{% url 'offer_details' offer.id %}" class="btn-primary">Details</a>
                </div>
            </section><br>
    {% endfor %}
    </section><br>

{% endblock %}